[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
mysql-connector = "*"
jinja2 = "*"
sanic-ext = "*"

[dev-packages]

[requires]
python_version = "3.10"
